 
<h4>Create An Account</h4>
<div class="container"> 

<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
 
    <app-input inputType="text" label="username" [control]="authForm.get('username')"></app-input>
    <app-input inputType="password" label="password" [control]="authForm.get('password')"></app-input>
    <app-input inputType="password" label="passwordConfirmation" [control]="authForm.get('passwordConfirmation')"></app-input>
 
     <div 
     *ngIf="authForm.get('password').touched && 
       authForm.get('passwordConfirmation').touched && 
       authForm.errors"
      class="ui pointing red basic label">
      <p *ngIf="authForm.errors.passwordDontMatch">
           Password and passwordConfirmation must match
      </p>
      <p *ngIf="authForm.errors.noConnection">
           No Internet Connection !
      </p>
      <p *ngIf="authForm.errors.unknownError">
          Unknown errors !!!!
      </p>
     </div>
    <div > 
   <button type="submit" class="ui submit button primary"> Submit </button>
   </div>
 
     <!-- {{ authForm.errors  | json }} -->
</form>
 
</div>